:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* color-scheme: light dark; */
  background-color: #303030;
  color: #FAFAFA;
}

body {
  margin: 0;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}